
        body {
            font-family: Arial, sans-serif;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            /* background-image: url(hecker.jpg); */
            /* opacity: 50%; */
            background-color: #959697;
            
        }
         /* .button-style {
    width: 150px;
    height: 35px;
  }
        .button-style:hover {
    width: 150px;
    height: 35px;
    background-color: green;
  } */
        h3{
            font-family:calc();
            /* color: black; */
        }
        h1 {
            text-align: center;
        }
        .container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 97.3%;
            margin-bottom: 10px;
        }
        .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        background-color:rgb(244, 243, 243);
        opacity: 80%;
    }

    .container h3 {
        margin: 0;
    }

    .container p {
        margin: 5px 0;
        color: #ffffff;
    }
        .profile-icon {
            margin-right: 80px;
            cursor: pointer;
        }
        .profile-icon img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }
        .file-upload-form {
            display:flex;
            margin-bottom: 10px;
            padding: 6px;
            background-color: #4d9b50;
            border-radius: 3px;
        }
        .file-upload-form input[type="file"] {
            flex-grow: 1;
            margin-left: 10px;
            margin-top: 10px;
            color: #050505;     
        }
        .file-upload-form button[type="submit"] {
            background-color: #054007;
            color: white;
            border: none;
            padding: 5px 10px;
            cursor: pointer;
            border-radius: 10px;
        }
        #fileTable {
        width: 100%;
        border-collapse: collapse;
    }

    #fileTable th,
    #fileTable td {
        padding: 10px;
        text-align: left;
        border-bottom: 1px solid #ddd;
        /* color: black; */
    }

    #fileTable th {
        background-color: rgb(95, 93, 93);
        opacity: 80%;
        font-weight: bold;
    }

    #fileTable tbody tr:hover {
        background-color: #f5f5f5;
    } 
        table {
            width: 100%;
            border-collapse: collapse;
        }
        table th, table td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
        .profile-modal {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 9999;
            display: none;
        }
        .profile-modal-content {
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            width: 400px;
            max-width: 80%;
            text-align: center;
            position: relative;
        }
        .profile-modal-close {
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
        }
        .profile-modal-close:hover {
            color: red;
        }
        .profile-form label {
            display: block;
            margin-bottom: 5px;
        }
        .profile-form input[type="text"], .profile-form input[type="email"] {
            width: 100%;
            padding: 5px;
            margin-bottom: 10px;
        }
        .profile-form input[type="submit"] {
            background-color: #4CAF50;
            color: white;
            border: none;
            padding: 5px 10px;
            cursor: pointer;
        }
      
    .profile-modal {
        display: none; /* Hide the modal by default */
        position: fixed; /* Fixed position to overlay the page */
        z-index: 9999; /* Ensure the modal appears on top */
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto; /* Enable scrolling if needed */
        background-color: rgba(0, 0, 0, 0.4); /* Semi-transparent background */
    }

    /* Style for the modal content */
    .profile-modal-content {
        background-color: #fefefe;
        margin: 15% auto; /* Center the modal vertically and horizontally */
        padding: 20px;
        border: 1px solid #888;
        width: 300px;
    }

    /* Style for the close button */
    .profile-modal-close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
        cursor: pointer;
    }

    /* Style for the form labels */
    .profile-modal-content label {
        display: block;
        margin-bottom: 10px;
        font-weight: bold;
    }

    /* Style for the form inputs */
    .profile-modal-content input[type="text"],
    .profile-modal-content input[type="email"],
    .profile-modal-content input[type="password"],
    .profile-modal-content input[type="submit"] {
        width: 100%;
        padding: 8px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    /* Style for the submit button */
    .profile-modal-content input[type="submit"] {
        background-color: #4CAF50;
        color: white;
        cursor: pointer;
    }

    /* Style for the submit button on hover */
    .profile-modal-content input[type="submit"]:hover {
        background-color: #45a049;
    }

    /* ------------ */
    /* home.css */

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f2f2f2;
}

.profile-icon {
    cursor: pointer;
}

.profile-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.profile-modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
}

.profile-modal-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

h2 {
    margin-top: 0;
}

form {
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
}

thead {
    background-color: #f2f2f2;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: #e2e2e2;
}
#create-form input {
  width: 200px;
  height: 40px;
  padding: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

