/* style.css */

.profile-modal {
    display: flex;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.profile-modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
}

.profile-modal-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

.profile-modal-close:hover,
.profile-modal-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.profile-modal h2 {
    text-align: center;
    margin-bottom: 20px;
}

.profile-modal img {
    display: block;
    margin: 0 auto;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    margin-bottom: 10px;
}

.profile-modal label {
    display: block;
    margin-bottom: 5px;
}

.profile-modal input[type="text"],
.profile-modal input[type="password"],
.profile-modal input[type="file"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.profile-modal div {
    background-color:   rgb(196, 149, 149);
    color: white;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

/* .profile-modal div:hover {
    background-color: #45a049;
} */

#save{
    background-color: green;
}