/* style.css */

/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  h2 {
    text-align: center;
  }
  
  /* Profile Modal */
  .profile-modal {
    display: flex;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .profile-modal-content {
    background-color: #b78c8c;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    max-width: 600px;
  }
  
  .profile-modal-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
  }
  
  .profile-modal-close:hover,
  .profile-modal-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  .pro {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
  }
  
  label {
    font-weight: bold;
  }
  
  .un,
  .em,
  .pass {
    font-weight: normal;
    margin-bottom: 10px;
  }
  
  a {
    text-decoration: none;
    display: block;
    text-align: center;
    margin-top: 20px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  /* Custom Styles for the profile */
  /* Add your custom styles here */